#app {
  .logo {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    color: #fff;
  }

  .ant-layout-header {
    display: flex;
    justify-content: flex-end;

    span {
      margin-right: 40px;
    }
  }
}
